/*@import "basic.css";*/

/* Common styles for all three elements */
.jinja-block::before,
.sidebar-template::before,
.page-template::before {
    font-family: monospace, serif;
    padding-left: 25px;
    background: no-repeat top left;
}

.jinja-block,
.sidebar-template,
.page-template {
    border-width: 1px;
    border-style: dotted;
    margin: 10px;
}

/* .jinja-block */
.jinja-block::before {
    color: red;
    content: "jinja block " attr(data-name);
    background-image: url("cube-solid.svg");
}
.jinja-block {
    border-color: red;
}

/* .sidebar-template */
.sidebar-template::before {
    content: "sidebar template " attr(data-name);
    color: blue;
    background-image: url("columns-solid.svg");
}
.sidebar-template {
    border-color: blue;
}

/* .page-template */
.page-template::before {
    content: "page template " attr(data-name);
    color: green;
    background-image: url("file-alt-regular.svg");
}
.page-template {
    border-color: green;
}
